* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:black;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    
}

.header img.logo {
    height: 50px;
}

.header h1 {
    margin: 0;
    font-size: 22px;
    color: white;
}

.user-icon {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.admin {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.add-product {
    border: 2px solid black;
    padding: 5px;
    cursor: pointer;
    width: 25%;
    margin: 0 auto 20px;
    display: block;
    border-radius: 6px;
     border: 1px solid #ccc;
     text-align: center;
     text-decoration: none;
     background-color: #f9f9f9;
}

.add-product:hover {
   background-color: rgb(0, 0, 0);
    color: white;
    transition: all 0.5s ease;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
}

th {
    background-color: #f1f1f1;
    color: #333;
}

td img {
    width: 60px;
    height: auto;
    border-radius: 4px;
}

td a {
    margin-right: 8px;
    color: #007bff;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
} 